TOKEN=""
MODULES_PATH="modules/"
BOT_PREFIX_DEPRECIATED="-----"

REP_HOSTNAME=""
REP_PORT=""
REP_USERNAME=""
REP_PASSWORD=""
REP_DB_NAME=""

REVIEW_HOSTNAME=""
REVIEW_PORT=""
REVIEW_USERNAME=""
REVIEW_PASSWORD=""
REVIEW_DB_NAME=""